<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://www.kippt.com" version="0.1">
	<name>Kippt</name>
	<description>Kippt's Opera add-on - http://kippt.com</description>
  	<author href="http://kippt.com.com" email="hello@kippt.com">Kippt</author>
  	<icon src="kippt.png"/>
  	<feature name="opera:share-cookies" required="false"/>
  	<access origin="https://kippt.com" subdomains="true"/>
	<access origin="*" />
</widget>
